/**
 * Main Styling for Web Application
 * Author: Alexander Spieslechner
 * Email: alexander.spieslechner@gmail.com;
 * Website: https://at.linkedin.com/pub/alexander-spieslechner/51/198/39;
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main-body {
    background-color: #fcfcfc;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding-left: 10px;
}
.sig-header {
    padding: 20px;
    background-color: #efefef;
}
.top-logo-img {
    display: inline-block;
}

.container {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 680px;
    width: 100%;
}

.top-logo {
    padding-top: 30px;
    width: 100%;
}

.title {
    position: relative;
    top: -6px;
    display: inline-block;
    margin: 0;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #303030;
}
#signature {
    margin-bottom: 50px;
}
.sig-markup {
    margin-top: 20px;
    background: #eaeaea;
    color: #929292;
    border: solid 1px #e1e1e1;
    min-height: 200px;
    width: 100%;
    font-size: 11px;
    padding: 10px;
    overflow: scroll;
    outline: none;
}
.sig-markup:hover {
    border: solid 1px #d81b60;
}

.btn {
    background-color: #d81b60;
}

.btn:hover {
    background-color: rgb(195, 88, 136);
}

@media (max-width: 500px) {
    .container {
        width: 70%;
        margin: 20px auto;
    }
    .pure-form .form-head {
        text-align: center;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* label color */
   .input-field label {
     color: #d81b60;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #d81b60;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
       border-bottom: 1px solid #d81b60;
       box-shadow: 0 1px 0 0 #d81b60;
   }
   /* valid color */
   
   .input-field input[type=text].valid {
       border-bottom: 1px solid #d81b60;
       box-shadow: 0 1px 0 0 #d81b60;
   }
   /* invalid color */
   
   .input-field input[type=text].invalid {
       border-bottom: 1px solid #d81b60;
       box-shadow: 0 1px 0 0 #d81b60;
   }
   /* icon prefix focus color */
   
   .input-field .prefix.active {
       color: #d81b60;
   }
